
.edit-articles-main {
    display: flex;
    width:100%;
}

.edit-articles-view {
    background-color: rgb(240, 240, 240);
    flex-grow: 1;
    padding: 2rem 2rem;
    border-radius: 5px 5px 5px 5px;
    width: 50%;
}

.edit-articles-scroll {
    background-color: rgb(240, 240, 240);
    border-radius: 5px 5px 5px 5px; 
    max-height: 50rem;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.edit-locations-scroll {
    background-color: rgb(240, 240, 240);
    border-radius: 5px 5px 5px 5px; 
    max-height: 250px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

.edit-articles-add {
    background-color: rgb(255, 255, 255);
    flex-grow: 20;
    padding: 1rem 1rem ;
    align-items: center;
    justify-content: center;
}

.edit-article-link {
    background-color: rgb(240, 240, 240);
    padding: 0.2rem 0.5rem;
}

.edit-article-link:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer; 
}

.form-add-article {
    width: 100%;
}


.add-location {
    background-color: rgb(250, 250, 250);
    padding: 1rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color:  rgb(245, 245, 245);;
    border-radius: 15px 15px 15px 15px;
}

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
  }

  .fade-in.one {
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    animation-delay: 0.7s;
  }
  
  .fade-in.two {
    -webkit-animation-delay: 1.2s;
    -moz-animation-delay:1.2s;
    animation-delay: 1.2s;
  }
  
  .fade-in.three {
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }


@media only screen and (min-width: 768px) {
    .form-add-article {
        width: 100%;  
    }

    /* .edit-articles-add {
        flex-grow: 5;
    }

    .edit-articles-view {
        flex-grow: 1;
    } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .edit-articles-main {
        width:80%;
    }

    .form-add-article {
        width: 85%;
    }

    .edit-articles-view {
        width: 35%;
    }
}
