@import "./constants.css";
@import url("./constants.css");

img.logo-navbar {
  height: 3rem !important;
  vertical-align: middle;
  display: inline-block;
  justify-content: center;
  align-content: center;
  margin: 0rem 0rem 0rem 0rem;
}

.headroom {
  background-color: #252525 !important;
  width: 100%;
  z-index: 3 !important;
}

.custom-navbar {
  height: inherit;
  display: flex;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0.1rem 0.1rem;
  background: rgba(var(--header-color), 0.99);
  z-index: 3 !important;
  font-family: "Instrument Sans", sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

.semi-transparent-background {
  background: rgba(var(--header-color), 0.88);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.transparent-bg {
  /* display: none; */
  /* opacity: 0; */
  /* box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
   */
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
  background: transparent;
  transition: 1s;
  /* pointer-events: none; */
  -webkit-transition: 1s;
}

.visible-bg {
  opacity: 1;
  transition: 1s;
  -webkit-transition: 1s;
}

.custom-navbar .navbar-brand {
  padding: 0rem 0.1rem;
  display: inline-block;
  margin: 0 auto;
  height: 100%;
  justify-content: center;
  align-content: center;
}

.custom-navbar .toggle-button {
  display: flex;
}

.custom-navbar .custom-navbar-buttons-main {
  display: inline-block;
  flex-grow: 1;
  justify-content: center;
}

.custom-navbar .custom-navbar-buttons-me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.1;
}

.custom-navbar .navbar-social-buttons-container {
  display: flex;
  width: 0%;
  padding: 0.4rem 0rem 1rem 0rem;
  justify-content: center;
}

.custom-navbar .navbar-social-buttons-subcontainer {
  display: flex;
  justify-content: center;
}

.custom-navbar .mobile-nav-links {
  display: flex;
}

.links-large {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.9);
}

.links-small {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.65);
}

.custom-navbar .custom-navbar-buttons-main .custom-navbar-link,
.custom-navbar .custom-navbar-buttons-main .custom-navbar-link a,
.custom-navbar .collapsible-nav-dropdown {
  padding: 0.1rem 0.1rem;
  white-space: nowrap;
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 0.9rem;
}

.custom-navbar .collapsible-nav-dropdown {
  padding: 0rem 0rem;
}

/* change the color of active or hovered links */
.custom-navbar .custom-navbar-buttons-main .custom-navbar-link:hover,
.custom-navbar .collapsible-nav-dropdown:hover {
  color: rgb(var(--primary-color-hover));
  transition: 0.5s;
}

.custom-navbar .navbar-social-buttons-subcontainer .navbar-social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 0.1rem 0.1rem;
}

.dropdown-toggle::after {
  display: none;
}

.custom-navbar .collapsible-nav-dropdown .thumbnail-image {
  max-width: 3rem;
  padding-inline-end: 0.3rem;
}

/*dropdown menu */
.dropdown-menu {
  background: rgb(var(--secondary-color));
  border: 0;
  border-radius: 3px 3px 3px 3px;
  transition: 0.5s;
  margin: 0rem;
  text-align: left;
}

.dropdown-menu:hover {
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(var(--primary-color-hover));
  transition: 0.3s;
}

.dropdown-menu a {
  color: rgba(255, 255, 255, 0.8);
  padding: 6px 16px;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown-item,
.dropdown-item.active,
.dropdown-item:active {
  transition: 200ms linear;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.dropdown-item:focus,
.dropdown-item:hover {
  /* color: rgba(0, 0, 0, 0.8); */
  background-color: transparent;
  transition: 200ms linear;
}

/*search bar */
.form-search {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  margin: 0.3rem 0rem 0.3rem 0.3rem;
  justify-content: center;
  padding: 0rem 0rem 0rem 0rem;
  justify-content: flex-end;
}

.custom-navbar .navbar-search-button {
  min-width: 3rem;
  background-color: rgba(var(--primary-color), 0.7);
  /* background-color: rgba(99, 99, 99, 0.8); */
  border: 0px;
  color: rgba(255, 255, 255, 0.5);
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  display: inline-block !important;
  white-space: nowrap;
  outline: none;
  box-shadow: none;
}

.custom-navbar .navbar-search-button:hover,
.custom-navbar .navbar-search-button:focus {
  background-color: rgba(var(--primary-color), 1);
  border: 0px;
  outline: none;
  box-shadow: none;
}

.custom-navbar .navbar-search {
  border-radius: 0px 5px 5px 0px;
  background: rgba(255, 255, 255, 0.6);
  border: 0px;
  color: rgba(var(--primary-color), 0.8);
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  outline: 0;
  transition: 0.3s;
}

.custom-navbar .navbar-search:hover,
.custom-navbar .navbar-search:focus {
  background: rgba(255, 255, 255, 0.8);
  border: 0px;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  outline: 0;
  transition: 0.3s;
}

/* Footer */

.top:hover {
  opacity: 0;
}

.footer-photo-container {
  position: relative;
  top: 0rem;
  width: 5rem;
  height: 5rem;
}

.footer-photo-container-right {
  width: 5.5rem;
}

.footer-photo-container img {
  position: absolute;
  max-width: 3rem;
  transition: 0.2s;
  width: 100%;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
}

.footer-photo-container .footer-img-mountain {
  max-width: 4rem;
}

.footer-photo-container .footer-img-golden {
  max-width: 3.5rem;
}

.footer_font {
  font-family: "Instrument Sans", sans-serif;
  font-display: swap;
  font-optical-sizing: auto;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  img.logo-navbar {
    height: 3rem !important;
  }

  .custom-navbar .navbar-search {
    width: fit-content;
    width: 11rem;
  }

  .form-search {
    margin: 0rem;
  }

  .custom-navbar {
    padding: 0.1rem 0.3rem;
  }

  .custom-navbar .navbar-brand {
    padding: 0.1rem 1.5rem 0.1rem 0.2rem;
  }

  .custom-navbar .custom-navbar-buttons-main .custom-navbar-link,
  .custom-navbar .collapsible-nav-dropdown-deprecated {
    padding: 0.1rem 1rem 0.1rem 1rem;
  }

  .custom-navbar .mobile-nav-links {
    display: inline-block;
  }

  .footer-photo-container {
    position: relative;
    top: 1rem;
    width: 7rem;
    height: 4rem;
  }

  .footer-photo-container .footer-img-mountain {
    max-width: 5rem;
  }

  .footer-photo-container .footer-img-golden {
    max-width: 4.1rem;
  }

  .footer-photo-container img {
    max-width: 3.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .custom-navbar {
    padding: 0.1rem 0.9rem;
  }

  .footer-photo-container {
    position: relative;
    top: 0.7rem;
    width: 6rem;
    height: 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /*search bar */

  .custom-navbar .navbar-social-buttons-container {
    display: inline-block;
    width: auto;
    padding: 0rem 0.3rem;
  }

  .custom-navbar .custom-navbar-buttons-main {
    display: flex;
    flex-grow: 0;
  }
}
